
@at-root #electronicSearchBox{
  .el_search_area{
    width: 1200px; height: auto;
    background-color: #000;
    margin: 0 auto; padding-top: 45px; padding-bottom: 17px;
  }
  form{
    width: 800px; height: 190px;
    background-color: #ff0;
    margin: auto;
  }
}//#electronicSearchBox
