@import "../common/variable.scss";

@at-root #headBox {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 110px;
  padding-top: 34px;
  .head_area {
    position: relative;
    width: 1200px;
    height: 42px;
    margin: auto;
    h1 {
      width: 100px;
      height: auto;
    }
    @at-root .gnb_btn {
      position: absolute;
      z-index: 100;
      top: 0;
      right: 0;
      z-index: 5000;
      width: 42px;
      height: 42px;
      button {
        display: block;
        width: 100%;
        height: 100%;
      } //button
      @at-root .nav_bar {
        display: block;
        position: relative;
        width: 100%;
        height: 2px;
        background-color: $color_black1;
        &:before,
        &::before,
        &:after,
        &::after {
          display: block;
          position: absolute;
          content: "";
          width: 100%;
          height: 2px;
          background-color: $color_black1;
          transition: all 300ms linear;
        }
        &:before,
        &::before {
          bottom: 15px;
        }
        &:after,
        &::after {
          top: 15px;
        }
      } //nav_bar
      &.active .nav_bar {
        height: 0;
        &:before,
        &::before {
          background-color: $color_black1;
          transform: translateY(15px) rotate(45deg);
        }
        &:after,
        &::after {
          background-color: $color_black1;
          transform: translateY(-15px) rotate(-45deg);
        }
      }
    } //gnb_btn
  }
}
