@import "../common/variable.scss";
.gnbBox {
  display: none;
}
.gnbBox.active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 700px;

  .gnb_area {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    background-color: $color_white;
    width: 100%;
    height: 100%;
  }
  .gnb_img {
    width: 50%;
    height: 100%;
    & .swiper-slide {
      background-repeat: no-repeat;
      &.swiper-slide-next {
        background-size: 250%;
      }
      &.swiper-slide-active {
        transition: all 2000ms ease-in;
        background-size: cover;
      }
    }
  } //gin_img swiper
  @at-root .gnb_inner {
    width: 50%;
    height: 100%;
    padding-top: 87px;
    padding-left: 140px;
    li {
      position: relative;
      top: 0;
      left: 0;
      width: 460px;
      height: auto;
      padding: 40px 0 38px;
      padding-left: 20px;
      border-top: 1px solid #eee;
      font-size: 40px;
      text-align: left;
      text-transform: uppercase;

      //hover - transition을 위한 가상선택자
      &:before,
      &::before {
        display: block;
        position: absolute;
        left: 0;
        top: 70px;
        content: "";
        width: 10px;
        height: 10px;
        background-color: $color_white;
        border-radius: 10px;
      }

      &:first-child {
        border: none;
      }
      &:hover {
        font-weight: 700;
        &:before,
        &::before {
          display: block;
          top: 50px;
          background-color: #007fa8;
          transition: top 500ms ease;
        }
      }
    } //li
  } //gnb_inner

  //배경
  &:before,
  &::before {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    margin: auto;
    z-index: -10;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
} //headBox
