
//color vriable 
$color_main1 : #007fa8;
$color_main2 : #002c5f;

$color_black1 : #303030;
$color_gray1 : #666;
$color_gray2 : #f6f3f2;
$color_white : #fff;


// responsive size
$mobile : 320px;
$tablet : 768px;
$laptop : 1280px;
$pc:1921px;


//font
$font_family_en : ('Roboto', sans-serif);
$font_family_ko : ('nanumsquare', 'KyoboHandwriting2020A', serif);
$font_weight:(300,400,500,700);
$font_size:(
h2:38px, h3:30px, content1:22px, content2:18px, content3:16px, content4:12px, book1:24px, book2:18px
);